@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);



#ext_menu-11 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-11 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-11 .mbr-navbar__items a {
  font-size: 13px;
}
#ext_menu-11 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-11 .close-icon::before,
#ext_menu-11 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-11 .link,
#ext_menu-11 .dropdown-item {
  color: #ffffff;
}
#ext_menu-11 .link {
  font-size: 0.75rem;
}
#ext_menu-11 .dropdown-item,
#ext_menu-11 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-11 .link:hover,
#ext_menu-11 .dropdown-item:hover,
#ext_menu-11 .link:focus,
#ext_menu-11 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-11 .link[aria-expanded="true"],
#ext_menu-11 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-11 .nav-dropdown-sm .link:focus,
#ext_menu-11 .nav-dropdown-sm .link:hover,
#ext_menu-11 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-11 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-11 .navbar,
#ext_menu-11 .nav-dropdown-sm,
#ext_menu-11 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-11 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-11 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-11 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-11 .bg-color.transparent.opened .link:hover,
#ext_menu-11 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-11 .link[aria-expanded="true"],
#ext_menu-11 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header4-13 .btn {
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
}
#header4-13 H1 {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
}
#header4-13 P {
  font-family: 'Roboto', sans-serif;
}
#footer1-12 P {
  color: #ffffff;
  text-align: center;
}
#content5-19 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-19 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-19 .mbr-article {
  color: #fff;
}
#ext_menu-12 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-12 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-12 .mbr-navbar__items a {
  font-size: 13px;
}
#ext_menu-12 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-12 .close-icon::before,
#ext_menu-12 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-12 .link,
#ext_menu-12 .dropdown-item {
  color: #ffffff;
}
#ext_menu-12 .link {
  font-size: 0.75rem;
}
#ext_menu-12 .dropdown-item,
#ext_menu-12 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-12 .link:hover,
#ext_menu-12 .dropdown-item:hover,
#ext_menu-12 .link:focus,
#ext_menu-12 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-12 .link[aria-expanded="true"],
#ext_menu-12 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-12 .nav-dropdown-sm .link:focus,
#ext_menu-12 .nav-dropdown-sm .link:hover,
#ext_menu-12 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-12 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-12 .navbar,
#ext_menu-12 .nav-dropdown-sm,
#ext_menu-12 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-12 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-12 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-12 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-12 .bg-color.transparent.opened .link:hover,
#ext_menu-12 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-12 .link[aria-expanded="true"],
#ext_menu-12 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#footer1-14 P {
  color: #ffffff;
  text-align: center;
}
#form1-15 .mbr-header__text {
  text-align: left;
  font-size: 20px;
}
